@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=DM+Sans:wght@600&family=Raleway:wght@100&display=swap');

.profile-info {
    display: flex; /* 이미지와 글씨를 가로로 정렬 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
}

.profile-image {
    width: 300px;
    height: 300px; 
    border-radius: 50%; 
    border: 5px solid #ccc; 
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3); 
}

.profile-text {margin-left: 40px; }

body, h2, h3, p, ul, li, nav {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    font-family: 'Raleway';
    line-height: 1.6;
    color: #000;
    background-color: #fff;
    margin: 0; 
    width: 80%; 
    max-width: 1000px; 
    margin-left: auto;
    margin-right: auto;
}

header {
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    padding: 20px;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #ccc;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000; 
}

nav {
    margin-top: 0; 
    margin-bottom: 5px; /* 상단바 bottom border - h1 글씨 간격 */
    text-align: right; 
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #000;
    transition: background-color 0.3s, color 0.3s; /* hover 효과를 위한 transition 추가 */
}

nav a:hover {
    background-color: #ccc; /* hover된 영역을 옅은 gray로 변경 */
    color: #fff; /* hover 시 글씨를 하얀색으로 변경 */
}

main {padding: 20px;}

section {
    margin-bottom: 30px;
}

h1 {
    /* font-family: 'Caveat', cursive; */
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px; /* 상단바 bottom border - h1 글씨 간격 */
    text-align: left; 
    align-items: center;
    pointer-events: auto;
    cursor: pointer; /* 손모양 포인터 */
}

h1:hover {
    color:#ccc;
}

h2 {
    margin-bottom: 10px;
}

footer {
    color: #000;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

footer p {
    margin: 0;
}

.contact-container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info {text-align: left;}

li {
    margin-bottom: 20px;
    font-size: 18px;
}

a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

.about-me-info {
    padding: 20px;
}

/* Style the list items within the about-me-info container */
.about-me-info ul {
    list-style: disc;
    padding-left: 20px;
}

.about-me-info li {
    margin-bottom: 10px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.project {
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    max-width: 60%; /* 가로 최대 크기 설정 */
    width: 100%; /* 가로 방향으로 100% 폭 설정 */
    height: 200px; /* 세로 방향 크기 설정 */
    object-fit: cover;
    transform: scale(0.9); /* 세로 방향으로 약간 축소 */
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.project-info {
    padding: 10px;
    background-color: #f0f0f0;
}

.project-info h2 {
    margin: 0;
}

.project-details {
    display: none;
    padding: 10px;
    background-color: #f0f0f0;
}

.project-details p {
    margin: 5px 0;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 600px) {
    header {
        padding: 10px;
        align-items: flex-start;
    }

    nav li {
        display: block;
        margin: 5px 0;
    }
}
